@tailwind base;
@tailwind components;
@tailwind utilities;

.mockup::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }


.mockup::-webkit-scrollbar-thumb {
    background: #0F172A; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded corners */
  }
  
  /* Handle on hover */
  .mockup::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 76, 109); /* Darker color on hover */
  }
  
  /* Track */
  .mockup::-webkit-scrollbar-track {
    border-radius: 50px;
    background: #a8a7ac; /* Color of the scrollbar track */

  }